/* ---------- General Styles ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;/*body always at least full screen height*/
  text-align: center;
  color: #000;
}

/* -------------------------------- Navbar------------------------------- */
.navbar {
  padding: 15px 40px;
  display: flex; /*item in same line*/
  justify-content: space-between; /*logo left and other in rigth*/
  align-items: center;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
}

.logo {
  font-weight: 900;
  font-size: 2rem;
}

.nav-links {
  list-style: none;
  display: flex; /*in one row*/
  gap: 30px; /*spacing*/
}

/*this for ex :home ... (in li)*/
.nav-links a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

/*the underline in navbar*/
.nav-links a.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #27c1e0; /* default, overridden per page */
  border-radius: 2px;
}

.nav-links li {
  position: relative; /* needed for underline can appir */
}

.logout {
  font-weight: 700;
  cursor: pointer;
}

/* ---------- Active underline colors per page ---------- */
body.home-page .nav-links a.active::after {
  background-color: #51BBCC; /* blue */
}

body.attendance-page .nav-links a.active::after {
  background-color: #459AA6; /* purple */
}

body.addstudent-page .nav-links a.active::after {
  background-color: #703E86; /* orange */
}

body.reports-page .nav-links a.active::after {
  background-color: #D75858; /* green */
}
body.logout-page .nav-links a.active::after {
  background-color: #1B3C38; /* green */
}
/* ---------- Buttons ---------- */
button, .view-btn, .action-btn {
  border: none;
  border-radius: 40px;
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.3s; /*smooth hover effect.*/

}
/*Slightly dim on hover.*/
button:hover, .view-btn:hover, .action-btn:hover {
  opacity: 0.9;
}
/* ---------- Titles & Description ---------- */
.page-title {
  font-weight: 900;
  margin-bottom: 30px;
}

.description {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
}

/*============================= HOME====================*/
body.home-page {
  background-color: #DEF3FF;
    padding: 40px; /*adds page padding like spacing*/

}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;   /* space below navbar */
  text-align: center;
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 70px;
  font-weight: 900;
}

.home-container p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
  font-size: 30px;
  color: black;
}



/*=================================Attendance Page =============================*/
body.attendance-page {
  background-color: #CBDBFF;
  padding: 40px;
}

/* Attendance Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #51BBCC;
}

th, td {
  padding: 10px; /*with padding inside each cell.*/
  text-align: center;
}

th {
  background-color: #51BBCC;
  color: white;
}
/* Make right border of A column bold */
#attendanceTable td:nth-child(3),
#attendanceTable td:nth-child(5),
#attendanceTable td:nth-child(7),
#attendanceTable td:nth-child(9),
#attendanceTable td:nth-child(11),
#attendanceTable td:nth-child(13),
#attendanceTable td:nth-child(15)
 {
  border-right: 2px solid #4c9eab; /* bold line between A and P */
}

.attend-btn {
   display: flex;
  justify-content: space-between; /* left group left, right group right */
  align-items: center;
  padding-top: 40px;

}
.right-btn {
  display: flex;
    font-size: 16px;

}
.left-btn {
  display: flex;
  gap: 40px;
}
/* =================== Add Student Page ====================== */
body.addstudent-page {
  background-color: #fff5e6;
  padding: 40px;
}

/* Add Student Form */
.form-container {
    background-color: #fae9f8bc;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 auto; /* This centers it horizontally */
    justify-content: center;
    align-items: center;

}
.student-form {
        width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
/*it Form Fields( Each label + input in one line)*/
.form-group {
   display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
     width: 120px;
    margin-bottom: 0;
    margin-right: 15px;
    color: #703E86;
    font-weight: bold;
    font-size: 16px;
}

.form-group input {
     flex: 1;
    padding: 12px;
    border: 2px solid #ffffff92;
    background-color: #ffffff92;
    border-radius: 50px;
    font-size: 16px;
}
.form-group input:focus {
    outline: none;
    border-color: #3498db;
}
/* Submit Button */
.submit-btn {
    width: 100%;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}
/*Buttons side by side with space.*/
.form-buttons {
   display: flex;
  justify-content: center; /* centers the buttons */
  gap: 40px; /* space between buttons */
  padding: 40px;

}

.view-btn {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}
/*================================ Reports Page ============================ */
body.reports-page {
  background-color: #e6ffe6;
  padding: 40px;
}

.stats-container {
    display: flex;
    gap: 40px;
    margin: 30px 0;
}
/*Grid of 2 columns for stats boxes.*/
.stats-left {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.stat-item {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
        margin-top: 20px;
}

.stat-item h3 {
    color: #000000;
    margin-bottom: 10px;
    font-size: 25px;
}

.stat-item h1 {
    color: #D75858;
    margin: 0;
    font-size: 40px;
}

.stats-right {
    flex: 1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.graph-placeholder {
    color: #666;
    font-size: 18px;
}


/*=========================logout====================*/
body.logout-page {
  background-color: #6DC0B6;
  padding: 40px; /*adds page padding like spacing*/

}


.logout-container {
  background-color: #ffffff4c;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 70%; /* fixed box width */
    min-height: 500px;
  margin: 0 auto; /* This centers it horizontally */
    margin-top: 70px; /* space below navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-container h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  color: #1B3C38;
}

.logout-container h3 {
  text-align: center;
    margin-top: 25px;
  margin-bottom: 35px;
  font-size: 30px;
  color: black;
}

.logout-btn {
  display: flex;
  justify-content: center;
  gap: 100px; /* space between buttons */

}

.logout-btn button {
  width: 150px; 
  padding: 10px 20px; /* height of btn */
  font-size: 16px; /* size of text */
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: red;
}

.delete-btn:hover {
  transform: scale(1.2);
}
